# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
dlib
imutils
scipy 
pandas 
opencv-python 
tqdm 
flask 
scikit-learn 
pretrainedmodels 
numpy 
Pillow 
imgaug 
efficientnet_pytorch 
python-dotenv 
flask_restx 
ftfy 
regex 
flask-cors
retinaface_pytorch